{% extends 'Admin.html' %}
<!-- title block -->
{% block header %} {% block title %}Dashboard{% endblock %} {% endblock %}
<!-- content goes here. do not remove any code -->
{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Welcome back, <b> </b> !</li>
  </ol>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 col-lg-9"></div>
      <div class="col-sm-12 col-lg-3"></div>
    </div>
  </div>

  <!-- Your further code goes here. keep coding in this div -->
</div>
{% endblock %}
