{% extends 'index.html' %} {% block content %} {% if success %}
<script>
  Swal.fire({
    title: "Done",
    text: "{{ success }}",
    icon: "success",
  });
</script>
{% endif %} {% if error %}
<script>
  Swal.fire({
    title: "Opps!",
    text: "{{ error }}",
    icon: "warning",
  });
</script>
{% endif %}

<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="mx-auto p-4 bg-white shadow-lg">
    <div class="card w-100 mb-3">
      <div class="card-body">
        <h3 class="card-title text-center">Login Now!</h3>
        <p class="card-text">
          To access your account, please sign in using your credentials below
        </p>
        <form class="mt-4" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="{{ url_for('register' ) }}" class="btn btn-link"
            >I don't have an account</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
